.container-contact {
    background-color: #E3E3E3;
    border-radius: 16px;
    margin: 0 148px 50px 148px;
    padding: 26px 44px;
}

.container-contact input {
    margin: 0;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 300px;
}

.container-contact input[type=submit],
.container-contact input[type=reset] {
    background-color: #EC6090;
    color: white;
    margin: 0 5px 5px 0;
    padding: 10px;
    width: 120px;
}

.dark-mode .container-contact input[type=submit],
.dark-mode .container-contact input[type=reset] {
    color: #343333;
}

.container-contact label {
    margin: 0;
    padding: 0;
}

.container-contact textarea {
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 0 10px;
    resize: none;
}

.container-contact textarea:focus {
    outline: none;
}

.dark-mode .container-contact {
    background-color: #343333;
}

.dark-mode .container-contact p {
    color: white;
}

.dark-mode .container-contact label {
    color: white;
}

.dark-mode #go-top-button {
    background-image: url('../res/img/go_top_dark_mode_icon.svg');
}

#go-top-button {
    background-color: transparent;
    background-image: url('../res/img/go_top_icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    bottom: 50px;
    display: none;
    height: 40px;
    position: fixed;
    right: 50px;
    width: 40px;
    z-index: 1;
}

#go-top-button:focus {
    outline: none;
}

@media screen and (max-width: 895px) {
    .container-contact textarea {
        width: 300px;
    }
}

@media screen and (max-width: 670px) {
    .container-contact input, .container-contact textarea {
        width: 250px;
    }
}
