.card {
    display: inline-flex;
    border-radius: 16px;
    margin-bottom: 5px;
    max-width: 12rem;
}

.card img {
    margin: 0 26px;
    margin-top: 20px;
}

.card-img-top {
    display: block;
    margin: auto;
    margin-top: 12px;
    max-width: 8rem;
}

.container-all-games {
    background-color: #E3E3E3;
    border-radius: 16px;
    margin: 0 148px 50px 148px;
    padding: 26px 44px;
}

.dark-mode .card {
    background-color: #1F2122;
    color: white;
}

.dark-mode .container-all-games {
    background-color: #343333;
}

.dark-mode .container-all-games a:hover .game-title {
    color: #EC6090;
}

.dark-mode #go-top-button {
    background-image: url('../res/img/go_top_dark_mode_icon.svg');
}

.game-developer {
    font-size: 12px;
    color: #666666;
}

.game-title {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#go-top-button {
    background-color: transparent;
    background-image: url('../res/img/go_top_icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    bottom: 50px;
    display: none;
    height: 40px;
    position: fixed;
    right: 50px;
    width: 40px;
    z-index: 1;
}

#go-top-button:focus {
    outline: none;
}
